body {
  
    margin: 0;
    padding: 0;
    height: 100%;
    background-repeat: no-repeat;
    font-size: 14px;
    background-color: #f0f0f0;
  }
  
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    background-color: #ffffff;
    display: flex;
    max-height: 130px;
    color: #333333;
    border-top: 12px solid #967216;
    padding: 20px;
    padding-left: 30px;
    box-shadow: 0 7px 9.5px -9.5px grey;
  }

  footer {
    background-color: #967216;
    display: flex;
    max-height: 130px;
    color: #333333;
    border-bottom: 12px solid #967216;
    padding: 20px;
    padding-left: 30px;
    box-shadow: 0 7px 9.5px -9.5px grey;
    align-self: center;
  }
  footer p{
    display: flex;
    align-content: center;
   
   
  }


  
  header img {
    width: 13%;
    margin-right: 40px;
    margin-left:15%;
  }
  
  #upra {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  
    /* width: 200%;
    margin-right: 13px; */
  }
  
  header h3 > i {
    color: #967200;
  }
  
  header div {
    margin-left: 12px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 14px;
  }
  
  body {
    display: grid;
    grid-template-rows: 30% 70%;
    row-gap: 20px;
  }
  
  .login {
    justify-self: center;
    align-self: center;
    text-align: center;
    margin-top: 40px;
  }
  .login h1 {
    color: #333333;
    font-size: 28px;
  }
  
  .loginForm {
    padding: 5px;
    width: 450px;
    height: 270px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 2px rgba(204, 204, 204, 0.546);
    border-radius: 10px;
  }
  
  .loginForm > label {
    display: inline-block;
    width: 80px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 5px;
    text-align: end;
  }
  
  .loginForm > input {
    padding: 6px;
    border-radius: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px 2px #e8f0fe;
    margin-bottom: 10px;
  }
  
  #remblbl {
    font-size: 14px;
  }
  
  .btn {
    padding: 8px 16px;
    background-color: #967200;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 15px;
    font-size: 14px;
  }
  
  .btn:hover {
    background-color: #b0922e;
  }
  
  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* css */
  .foo {
    
    padding: 8px 16px;
    background-color: #967200;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 15px;
    font-size: 14px;
    display: flex;
    align-items: center; /* Changed from align-content to align-items */
    justify-content: space-around;
    width: 200px; /* or specify a fixed width */
    height: auto; /* or specify a fixed height */
    box-sizing: border-box;
    /* padding: 8px 16px;
    background-color: #967200;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 15px;
    font-size: 14px;
    display: flex;
    align-content: center;
    justify-content: space-around; */
}
/* body > div.flex div.content-section a{
  display: flex;
  
  
  align-items: center;
}
   */

  .flex-container {
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.flex {
  display: flex;
  align-content: center;
  justify-content: space-around;
  
}

#fb{
  text-align: center;
  display: flex;
  justify-content: center;
  

}

#fb p{
padding-left: 1em;
}

section{
  height: 5px;
}

/* .imgn {
  height: px;
} */

.desc div {
padding-bottom: 10%;
}

.cdiv {
  margin-left: 15%; /* Margin on the left side */
  margin-right: 14%; /* Margin on the right side */
  
}


.flex .content-section {
  padding-top: 5%;
  padding-left: 5.1%;
  padding-right: 5.1%;
  padding-bottom: 5%;
}

.div .content-section{
padding-left: 10%;
padding-right: 10%;
}

.styled-line {
  border: solid ; /* Remove default border */
  height: 2%; /* Set the height/thickness of the line */
  color: #967200;
  background-color: #967200; /* Change color as needed */
  /* Additional styling if required */
}

