body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #645f5f;
  background-repeat: no-repeat;
  font-size: 16px;
}

header {
  background-image: linear-gradient(
    to right,
    black 9%,
    #1d1d1d 50%,
    #1d1d1d 100%
  );
  display: flex;
  max-height: 90px;
  color: rgb(232, 232, 232);
  border-bottom: 5px solid #c19f2c;
}

header img {
  width: 11%;
}

header div {
  margin-left: 12px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 14px;
}

.mensaje {
  text-align: center;
  color: #b39122;
  font-weight: bold;
  font-style: italic;
  margin-top: 30px;
}

section {
  background-color: #dad4d4;
  justify-content: center;
  margin: auto auto;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 10px;
  width: 85%;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: 25% 75%;
  column-gap: 10px;
}

.container > aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.card {
  width: 85%;
  height: 200px;
  background-color: rgb(243, 241, 241);
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 8%;
  padding-top: 6px;
}

.check > label {
  display: flex;
  justify-content: left;
  margin-left: 20%;
}

.check > label > input[type="checkbox"] {
  margin-right: 6px;
}
.busqueda {
  background-color: rgb(243, 241, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 85%;
  height: 535px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 60px;
}

.search-bar {
}

.search-bar input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 400px;
}

.search-bar button {
  padding: 8px 16px;
  background-color: #c1a136;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.search-bar button:hover {
  background-color: #b0922e;
}

table {
  width: 80%;
  table-layout: fixed;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
}

thead {
  background-color: #161515;
  color: #e8e6e6;
}

tbody tr:nth-child(even) {
  background-color: #debc4bba;
}

tbody tr:nth-child(odd) {
  background-color: #e9e7e7;
}

footer {
  background-color: #161515;
  position: bottom;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  border-top: 5px solid #c19f2c;
}
