html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-repeat: no-repeat;
  font-size: 14px;
  background-color: #f0f0f0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #ffffff;
  display: flex;
  max-height: 75px;
  color: #333333;
  border-top: 12px solid #967216;
  padding: 20px;
  padding-left: 30px;
  box-shadow: 0 7px 9.5px -9.5px grey;
}

header img {
  width: 13%;
  margin-right: 13px;
}

header h3 > i {
  color: #967200;
}

header div {
  margin-left: 12px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 14px;
}
.titulo {
  text-align: center;
  font-size: 16px;

  line-height: 90px;
  margin-top: -20px;
  /*  box-shadow: inset 0 7px 9.5px -9.5px grey;
  background-color: #ffffff;*/
}

main {
  display: grid;
  margin: 20px 0;
}

section {
  justify-self: center;
  width: 95%;
  border-radius: 8px;
  text-align: center;
  min-height: 400px;

  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: center;
  column-gap: 10px;
  padding: 10px;
}

section p {
  color: #b39122;
}

.firstBox {
  background-color: #ffffff;
  box-shadow: 0 0px 10px 2px rgb(205, 205, 205);
}

.firstBox,
.lastBox {
  border-radius: 5px;
  height: min-content;
  padding: 10px;
}

.search {
  margin-left: 45px;
}

label {
  font-weight: bold;
}

.search > label {
  display: block;
  width: 110px;
  font-size: 14px;
  text-align: start;
}

.search > input {
  display: block;
  margin-top: 5px;
  padding: 6px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  width: 230px;
  background-color: #eff4fd;
}

.firstBox button {
  padding: 8px 16px;
  background-color: #967200;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  margin: 10px;
}

.filters {
  margin-top: 5px;
  text-align: left;
  margin-left: 25px;
  margin-bottom: 10px;
}

.filters label {
  font-weight: normal;
}

input[type="checkbox"] {
  margin-bottom: 6px;
}

.dates > label {
  display: inline-block;
  width: 45px;
  font-size: 14px;
  text-align: start;
  margin-left: -45px;
  font-weight: normal;
}

.dates > input {
  display: inline-block;
  margin-top: 5px;
  padding: 6px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  width: 120px;
  background-color: #eff4fd;
}

.recents {
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.recents > div {
  border-bottom: 1px solid black;
}
